body {
    font-family: 'Nunito', sans-serif;
    background-image: url("img/bgtile.jpg");
    color: white;
}
#chat-container {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
}
#users-container {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    padding-left: 20px;
}
#users-list{
    padding-left: 0px;
}
input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    display: block;
}
#output {
    overflow-y: auto; 
    height:340px;
}
button {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
}
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    background-color: white;
    }
.modal-style{
    max-width: 800px;
    margin: 30px auto;
    margin-top: 120px !important;
}

.nes-btn {
    cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer !important;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

   }